*{
    margin: 0px;
    padding:    0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


.contact{
    min-height: 100vh;
    background: radial-gradient(#e9bc9f,#de8192);
    padding: 50px;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: black;
}
    .contact-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
.contact-form{
    text-align: left;
}
.contact-info{
    text-align: rigth;
    border-top: 50px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}

textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;;
}
body {
    font-family: Arial, sans-serif;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup p {
    margin: 0 0 10px;
}

#closePopup {
    background-color: #e76422;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#closePopup:hover {
    background-color:  rgb(224, 21, 21);
}
.contact-form{
    text-align: left;
}
button{
    display: inline-block;
    padding: 12px 12px;
    background-color: #ff6112a4;;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover{
    background: rgb(224, 21, 21);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000; 
}
/*-------exit button--------*/


.exit-icon {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    font-size: 24px; 
    color: red; 
    cursor: pointer; 
    z-index: 1000; 
}

.exit-icon:hover {
    color: darkred; 
}

